.header-container{
    display:flex;
    height:50px;
    padding:20px;
    background: grey;
}
.header-counter{
    margin-left:auto;
    cursor:pointer;
    border:3px solid blueviolet;
    height:30px;
    width:30px;
    background: white;
    text-align:center;
    font-weight:bold;
}